@CHARSET "EUC-KR";


.main{
	background-color: #0881A3;
	width:100%;
	display: inline-block;

}

p{
	color: white;
	font-size: 38px;
	padding: 14px;
	font: serif;
	
}

.mainin{
	float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFD6A4;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

li a:hover {
    background-color: #0881A3;
}

.btn{
	margin-top:40px;
	margin-left: 40px;
    background-color: #FDE9DF; 
    color: white; 
    border: 2px solid #FDE9DF;
    border-radius: 8px;
    position: relative;
}

.btn:hover {
	text:"join";
    background-color: #FDE9DF;
    color: #0881A3;
    border-radius: 8px;
}



