@CHARSET "EUC-KR";

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
	margin-left: 40px;
    background-color: white; 
    color: #0881A3; 
    border: 2px solid #0881A3;
    border-radius: 8px;
    position: relative;
}

.button1:hover {
    background-color: #0881A3;
    color: #FFD6A4;
    border-radius: 8px;
}